<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../static/css/pico.min.css" data-th-href="@{/css/pico.min.css}"/>
  <link rel="stylesheet" href="../static/css/signup.css" data-th-href="@{/css/signup.css}"/>
  <link rel="stylesheet" href="../static/css/signin.css" data-th-href="@{/css/signin.css}"/>
  <link rel="icon" href="../static/css/favicon.ico" type="image/x-icon"
        data-th-href="@{/css/favicon.ico}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;300;400;500;700;900&display=swap">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../static/javascript/theme-toggler.js" data-th-src="@{/javascript/theme-toggler.js}"></script>

  <title>Notes</title>
</head>
<body>
<div class="body">
  <main class="container">
    <dialog open>
      <article>

        <div data-th-class="${errorMessage != null} ? alertNegative">
          <p data-th-text="${errorMessage} ?: _"></p>
        </div>

        <div class="notes">
          <a href="" id="theme-toggle">
            <span class="disable-selection">NOTES</span>
          </a>
        </div>
        <form action="#" method="post" data-th-action="@{/forgot/regenerate}"
        data-th-object="${passwordChangeRequest}">
          <!-- Markup example 2: input is after label -->

          <input type="hidden" name="token" data-th-value="${token}">
          <input type="hidden" data-th-field="*{username}">

          <label for="password">
            <input
                    type="password"
                    id="password"
                    name="password"
                    data-th-field="*{password}"
                    placeholder="New password"
                    required
            />
          </label>

          <button id="submit" aria-busy="false" type="submit">Change password</button>
          <script src="../static/javascript/submit.js" data-th-src="@{/javascript/submit.js}"></script>
        </form>

        <p>
          Remember your password?
          <a href="#" data-th-href="@{/login}"> Login </a>
        </p>
      </article>
    </dialog>
  </main>
</div>
</body>
</html>
